* {
    box-sizing: border-box;
    font-family: sans-serif;
    border: 0px;
}


.form {
    width: 330px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.form-group {
    padding-left: 14px;
}

.legend {
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 13px;
}


p {
    margin-top: 10px;
    margin-bottom: 6px;
}

.inputs {
    display: block;
    padding: 0 10px;
    height: 25px;
    width: 250px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
}

.form-group1 {
    padding-left: 14px;
    padding-top: 0;
}

textarea {
    display: block;
    resize: vertical;
    min-height: 50px;
    max-height: 200px;
    padding: 5px 10px;
    height: 25px;
    width: 250px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
}

.form-group1 p {
    margin-top: 0;
}

.check-box {
    margin-top: 12px;
    cursor: pointer;
}

.checkboxtext {
    display: inline-block;
    font-size: 13px;
}

.button {
    display: block;
    font-size: 12px;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 2px 10px;
    cursor: pointer;
}